* {
    box-sizing: border-box;
}
body {
    background-color: #F6F8F9;
}

/* header */
#titolo {
    background-color: white;
    margin: 0;
}
#logo {
    vertical-align: middle;
}
h1 {
    display: inline;
    font-size: 50px;
    line-height: 70px;
    vertical-align: middle;
}
h2 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 30px
}

/* main */
#box1 {
    width: 70%;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}
#pulsante-blu {
    background-color: #47ADF1 ;
    display: inline;
    padding: 10px;
    margin-left: 50px;
    border-radius: 8px;
    color: white;
}
#pulsante-bianco {
    background-color: white ;
    display: inline;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid grey;
    color: grey;
}
#box2 {
    background-color: white;
    margin: auto;
    height: 700px;
    width: 70%;
    margin-top: 5px;
    padding-left: 60px;
    padding-top: 30px;
}
.elemento {
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}
.tag-blu{
    background-color: #47ADF1;
    color: white;
    margin-left: 10px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px ;
    border-radius: 25px;
    font-size: 12px;
}
.tag-viola{
    background-color: #9C72E4;
    color: white;
    margin-left: 10px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px ;
    border-radius: 25px;
    font-size: 12px;
}
.tag-verde{
    background-color: #64C0A9;
    color: white;
    margin-left: 10px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px ;
    border-radius: 25px;
    font-size: 12px;
}
.tag-arancio{
    background-color: #F29E33;
    color: white;
    margin-left: 10px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px ;
    border-radius: 25px;
    font-size: 12px;
}
.tag-rosa{
    background-color: #D863A1;
    color: white;
    margin-left: 10px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px ;
    border-radius: 25px;
    font-size: 12px;
}
.tag-giallo{
    background-color: #B0C926;
    color: white;
    margin-left: 10px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px ;
    border-radius: 25px;
    font-size: 12px;
}